<div class="container">
  <h2>Categories</h2>

  <ul class="nav nav-tabs">
    <% @categories.each_with_index do |category, index| %>
    <li class="<%= "active" if index == 0%>"><a data-toggle="tab" href="#cat-<%= category.id %>"><%= category.name %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @categories.each_with_index do |category, index| %>
    <div id="cat-<%= category.id %>" class="tab-pane fade in <%= "active" if index == 0%> ">
      <h3><strong>Category:</strong> <%= category.name %></h3>
      <h4>Products</h4>
      <ul>
      <% category.products.each do |product| %>
        <li><%= product.name %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>